*{
    margin:0;
    text-decoration: none;
    padding:0;
    list-style: none;
    box-sizing: border-box;


}
@font-face {
    font-family:"dengxian";
    src: url(DENG.TTF);}


    @font-face {
    font-family:"dengxianL";
    src: url(DENGL.TTF);}
    
    
    @font-face {
        font-family:"dengxianB";
        src: url(DENGB.TTF);}
       .top{display: flex;
            position:absolute;
            width:100%;
            align-items:center;
            border-bottom:solid rgb(72, 169, 255) 5px;
            height:60px;
            
            }

       
        .biaoti{margin:25px;}     
         

   
       .nav li{
           text-indent:50px;
           float:left;
           text-align:center;
           height:40px;
           
           display:flex;
           align-items:center;
           
           font-family:"dengxianB";    
           font-size:20px;
          }
          .nav a{color:black;
                 
                 }

          .nav a:hover{
               color:#e4a7ff;
               
          }          
          .droplist {
               background: #fff;
               
               flex-direction:column;
               position: relative;
               top:85px;
               right: 135px;
               z-index:999;
               width: 150px;
               height:120px;
               text-align: center;
               border-radius:0 0 10px 10px;
               transform: translateY(-350px);
               transition: 0.5s;
               overflow:hidden;
               }
           .nav li:hover .droplist{
               
               transform: translateY(0);
               
           }
.box{display: flex;
     text-align: center;
     flex-direction: column;
     background:#b0d6ff;
     
     width:100%;

     position:absolute;
     top:60px;
     
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     list-style:none;
    
     
}
.box.guitar{
    width: 1684px;
    height: 2500px;
    display: flex;
    align-items:center;
    justify-content:center;
}

     

.zhuye{
    position:relative;
    width:1684px;
    height:800px;
    }
.box .guitar .zhuye .main-img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:800px;
    }
.box .guitar .zhuye .main-img img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;

}
.main-textbox{
    position: absolute;
    color:#a7c1da;
    bottom: 480px;
    left: 50px;
    font-size:50px;
}

.box .guitarbox{
    display: flex;
    flex-direction:flex;
    align-items:center;
    
    width:900px;
    height:300px; 
    position:relative;
    left:290px; 
    background:#b0d6ff;
    box-shadow:0 25px 40px rgba(0, 0, 0, 0.5); 
    margin:40px;
    transition:0.8s;
    
     
    
}
.box .guitarbox:hover{
    transform: scale(1.05);
    z-index:999;
     

}
.box .guitarbox .imgbox{
    width:300px;
    height:300px;
    overflow:hidden;
    border-right: #82e4ff solid 5px;
    
}
.guitarbox .imgbox img{
    position:relative;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
    
}
.guitar .textbox{
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 300px;
    margin: 25px;
    overflow: hidden;
    text-align: left;
    height: 300px;
    width:578px;
}
.guitar .textbox h1{
    position:relative;
    
    
}
.guitar .textbox h2{
    position:absolute;
    left: 350px;
    height: 50px;
    width: 200px;
    font-size:40px;
    transform: translateX(350px);
    transition:0.5s;
}
.guitar .guitarbox:hover .textbox h2{
    transform: translateX(0px);
    transition:0.3s;
}

